    * {
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* outline: 2px solid red; */
        box-sizing: border-box; 
    }

    html,
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    body {
        background-color: #000;
    }

    nav {
        margin: 10px;
        /* margin-right: 10px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        height: 35px;
        padding: 0px 20px;
    }

    .logo2 {
        display: none;
    }

    .middel {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .home {
        border-radius: 50%;
        min-width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1f1f1f;
    }



    .search {
        display: flex;
        align-self: center;
        max-width: 450px;
        flex-grow: 1;
        background-color: #1f1f1f;
        padding: 12px 20px;
        border-radius: 50px;
        margin-left: 10px;

        span {
            color: #989898;
            height: 25px;
            min-width: 30px;
            font-size: 30px;
            overflow: hidden;
            margin-left: -10px;
            margin-top: -2px;
        }

        input {
            background-color: #1f1f1f;
            border: none;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            margin-left: 10px;
            height: 20px;
            width: 390px;
        }

        input::placeholder {
            color: #989898;
        }

        input:focus {
            outline: none;
            color: #fff;
        }

        input[type="search"]::-webkit-search-cancel-button {
            appearance: none;
            height: 25px;
            width: 25px;
            background-image: url(assent/close.png);
            margin-top: 5px;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
            cursor: pointer;
        }

        .mid {
            background-color: #989898;
            height: 25px;
            width: 1px;
        }

        .ima {
            background-image: url(assent/browse.png);
            height: 25px;
            min-width: 25px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-left: 10px;
        }

    }

    .active {
        outline: 2px solid #fff;
        transition: all 0.1s ease-in-out;

        span {
            color: #fff;
        }

    }

    .end {
        display: flex;
        align-items: center;
    }

    .option {
        color: #a6a6a6;
        font-weight: 500;
        padding: 15px;
        margin-right: 10px;

        ul {
            display: flex;
            gap: 10px;
            list-style: none;
            text-transform: capitalize;
        }

        li:hover {
            color: #fff;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .mid-line {
        padding: 10px 1px;
        margin-top: 10px;
        background-color: #a6a6a6;
        /* margin: 0px 20px; */
        height: 10px;
    }

    .install {
        color: #efefef;
        font-size: 14px;
        font-weight: 500;
        margin-left: 30px;
        display: flex;
        align-items: center;

        span {
            display: inline-block;
            padding: 15px 0px;
            width: 100px;
            /* height: 50px; */
            text-align: center;
        }

        :hover {
            color: #fff;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .login {
        background-color: #fff;
        color: #000;
        font-size: 16px;
        width: 70px;
        text-align: center;
        border-radius: 50px;
    }

    .option2 {
        display: none;
        position: relative;
        margin-left: 10px;

        margin-right: 10px;

        span {
            display: block;
            background-color: #fff;
            width: 20px;
            height: 3px;
        }

        .line2 {
            margin: 5px 0px;
        }

        .select {

            display: none;
            position: absolute;
            left: -150px;
            top: 35px;
            width: 150px;
            background-color: #1f1f1f;

            ul {
                list-style-type: none;
                color: #a6a6a6;

                li {
                    padding: 10px;
                }
            }
        }

        .btn {
            display: block;
        }

        .option2:hover {
            background-color: #1f1f1f;
        }
    }

    main {
        flex-grow: 1;
        display: flex;
        height: 100%;
        overflow: hidden;
    }

    .aside {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        border-radius: 10px;
        font-weight: 400;
        margin: 0px 10px;
        width: 420px;
        min-width: 280px;
        background-color: #121212;
        padding: 10px;

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            margin-bottom: 10px;
            flex-shrink: 0;

            span {
                display: block;
                color: #fff;
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-height: 0;
        }

        .section {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
            flex: 1;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;


        }

        .section::-webkit-scrollbar {
            display: none;
        }
    }

    .one {
        background-color: #1f1f1f;
        color: white;
        border-radius: 10px;
        padding: 12px 18px;


        span {
            display: block;
            line-height: 2;
            font-weight: 500;
        }

        .h2 {
            font-size: 14px;
        }

        button {
            padding: 8px;
            margin-top: 10px;
            border-radius: 25px;
            min-width: 130px;
            font-weight: 500;
        }

    }



    .last {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 12px;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;


        span {
            color: #a6a6a6;
            display: block;
        }

        .uniq {
            flex-basis: 100%;
            color: white;

        }

        select {
            background-color: #1f1f1f;
            color: white;
            padding: 5px 20px;
            font-size: 15px;
            border-radius: 25px;
            border: 1px solid white;
            margin: 10px 0px;
        }
    }

    footer {
        /* margin-top: auto; */
        flex: 1;
        margin: 10px 10px 0px 10px;
        background: linear-gradient(to right, #ae2a98 50%, #509bf5);
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;


        .h {
            color: white;
            display: block;
            font-size: 12px;
            font-weight: 500;
        }

        .hh {
            text-overflow: ellipsis;
            color: white;
            font-size: 14px;
            word-spacing: 3px;
            font-weight: 500;
        }

        button {
            font-size: 18px;
            font-weight: 500;
            min-width: 150px;
            height: 50px;
            border-radius: 25px;
            border: none;
            margin-left: 20px;
        }
    }

    .option3 {
        display: none;
    }

    .contain {
        background-color: #121212;
        border-radius: 10px;
        width: 100%;
        /* height: 100%; */
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    }

    #trend {
        margin: 20px 10px 20px 20px;
        margin-bottom: 100px;
    }

    #trend h2 {
        color: white;
        margin: 10px;
    }

    .songs {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .song {
        margin: 10px;
        position: relative;
    }

    .song span {
        display: block;
        color: white;
        line-height: 1.6;
        text-align: center;
        text-transform: capitalize;

    }

    .img {
        background-color: #1f1f1f;
        background-size: cover;
        filter: brightness(0.7);
        width: 171px;
        height: 171px;
        border-radius: 15px;
    }

    .so {
        font-size: 18px;
        margin-top: 5px;

    }

    .sign {
        font-size: 14px;
        color: #a6a6a6;
    }

    .img1 {
        background-image: url(./assent/song1.jpg);
    }
    .img2{
        background-image: url(./assent/song2.jpg);
    }
    .img3{
        background-image: url(./assent/song3.jpg);
    }
    .img4{
        background-image: url(./assent/song4.jpg);
    }
    .img5{
        background-image: url(./assent/song5.jpg);
    }
    .img6{
        background-image: url(./assent/song6.jpg);
    }

    #plbutt{
        background-color: green;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: #000;
        position: absolute;
        top: 50%;
        right: 10%;
        
    }
    
    

    .popular {
        margin: 20px;
        margin-right: 10px;

        h2 {
            color: white;
            margin: 10px;
        }

        .artits {
            display: flex;
            overflow-x: scroll;
            scrollbar-width: none;
        }

        .artist {
            margin: 10px;

            span {
                display: block;
                color: white;
                line-height: 1.6;
                text-transform: capitalize;
            }

            .photo {
                background-color: #1f1f1f;
                width: 171px;
                height: 171px;
                border-radius: 50%;
                box-shadow: 0px 0px 5px #000;
                background-position: center;
                background-size: cover;
            }

            .so {
                font-size: 18px;
                margin-top: 5px;
            }

            .sign {
                font-size: 14px;
                color: #a6a6a6;
            }

        }
    }
.photo1{
    background-image: url(./assent/Artitist/artits1.jpg);
}
.photo2{
    background-image: url(./assent/Artitist/artits2.jpg);
}
.photo3{
    background-image: url(./assent/Artitist/artits3.jpg);
}
.photo4{
    background-image: url(./assent/Artitist/artits4.jpg);
}
.photo5{
    background-image: url(./assent/Artitist/artits5.jpg);
}
.photo6{
    background-image: url(./assent/Artitist/artits6.jpg);
}
    .mob-opt {
        position: relative;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;

        span {
            display: block;
            background-color: white;
            /* padding: 1.5px 12px; */
            height: 1.5px;
            width: 15px;

        }

        display: none;
    }

    .list {
        display: none;
        background-color: black;
        color: white;
        position: absolute;
        top: 70px;
        height: 100%;
        width: 100%;
        left: 0px;
        padding-left: 50px;

        ul {
            list-style-type: none;
        }
    }

    .up {
        font-size: 20px;
        margin-top: 20px;
        line-height: 2.5;
    }

    .midlie {
        display: inline-block;
        padding: 1px 10px;
        background-color: white;
        margin: 30px 0px;
    }

    .bottom {
        line-height: 2;

    }

    .ttn {
        display: block;
        z-index: 1;
    }

    .add {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding: 40px 80px;
        background-color: #000;
    }

    .add h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #fff;
    }

    .add ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .add ul li {
        margin-bottom: 10px;
        color: #6f6f6f;
    }




    @media (max-width:1700px) {
        .aside {
            /* width: 24%; */
            width: 420px;
        }
    }

    @media (max-width:1250px) {

        .search {
            input {
                width: 90%;
            }
        }

        .aside {
            width: 400px;
        }
    }

    @media (max-width:920px) {
        .option {
            display: none;
        }

        .option2 {
            display: block;
        }
    }

    @media (max-width:800px) {
        main {
            width: 800px;
        }


        nav {
            width: 780px;
        }

        footer {
            width: 750px;
        }

    }

    @media (max-width:600px) {
        .logo {
            display: none;
        }

        .logo2 {
            display: block;

            img {
                height: 50px;
            }
        }

        .middel {
            display: none;
        }

        .install,
        .mid-line {
            display: none;
        }


        .aside {
            display: none;
        }

        footer {
            display: none;
        }

        nav {
            width: 100%;
        }

        main {
            width: 100%;
            margin: 0;
        }

        .contain,
        .aside {
            width: 100%;
            margin-bottom: 0px;
        }

        .option2 {
            display: none;
        }

        .menu {
            display: flex;
        }

        .mm {
            gap: 8.8px;

            .cros1 {
                transform-origin: 0;
                transform: rotate(45deg);
                transition: all 0.1s linear;

            }

            .cros2 {
                display: none;
            }

            .cros3 {
                transform-origin: 0;
                transform: rotate(-45deg);
                transition: all 0.1s linear;
            }
        }




        .song .img {
            height: 121px !important;
            width: 121px !important;
        }

        .artist .photo {
            height: 121px !important;
            width: 121px !important;
            border-radius: none !important;
        }

        @media (max-width: 768px) {
            .footer {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                padding: 20px;
            }
        }

        @media (max-width: 480px) {
            .footer {
                grid-template-columns: 1fr;
            }

        }
    }